**/bin/*
**/obj/*
*.suo
*.sdf
*.user
*.opensdf
/.vs/

Substrate/obj/net35-Release/
Substrate/obj/
Substrate/bin/
Substrate/publish/
Substrate.Entities/publish/
Examples/CPPCLI/BlockReplace/BlockReplace/Debug/
Examples/CPPCLI/BlockReplace/Debug/
Examples/CS/BlockReplace/bin/
Examples/CS/BlockReplace/obj/
Examples/CS/Convert/bin/
Examples/CS/Convert/obj/
Examples/CS/CustomBlocks/bin/
Examples/CS/CustomBlocks/obj/
Examples/CS/FlatMap/bin/
Examples/CS/FlatMap/obj/
Examples/CS/GiveItem/bin/
Examples/CS/GiveItem/obj/
Substrate.Tests/obj/
Substrate.Tests/bin/
Substrate.Entities/obj/
Substrate.Entities/bin/
/packages/
